In [1]:
myword = 'hello world'

In [2]:
mylist = []

In [3]:
for letter in myword:
    mylist.append(letter)

In [4]:
mylist

['h', 'e', 'l', 'l', 'o', ' ', 'w', 'o', 'r', 'l', 'd']

In [5]:
myword = 'hello'

In [6]:
mylist = [x for x in myword]

In [7]:
mylist

['h', 'e', 'l', 'l', 'o']

In [8]:
[x for x in 'world']

['w', 'o', 'r', 'l', 'd']

In [9]:
mylist = [num for num in range(0,20)]

In [10]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [11]:
mylist = [num**2 for num in range(0,10)]

In [12]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

In [13]:
mylist = [1,2,3,4,5,6,7,8,9]
print([num for num in mylist if num%2==0])

[2, 4, 6, 8]

In [14]:
print([num if num%2==0 else 'odd' for num in range(0,20)])

[0, 'odd', 2, 'odd', 4, 'odd', 6, 'odd', 8, 'odd', 10, 'odd', 12, 'odd', 14, 'odd', 16, 'odd', 18, 'odd']

In [15]:
[x*y for x in range(1,4) for y in range(5,8)]

[5, 6, 7, 10, 12, 14, 15, 18, 21]